<body>
    <!-- HEADER -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                
                <!-- Logo à gauche -->
                <a class="navbar-brand" href="/index.html">
                    <img src="/assets/img/portrait.jpg" alt="Photo" class="navbar-photo">
                </a>

                <!-- Menu au centre (desktop) -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto gap-3">
                        <li class="nav-item">
                            <a href="/index.html#section-home" class="nav-link">Présentation</a>
                        </li>
                        <li class="nav-item">
                            <a href="/index.html#skills-section" class="nav-link">Compétences</a>
                        </li>
                        <li class="nav-item">
                            <a href="/index.html#section-project" class="nav-link">Projets</a>
                        </li>
                        <li class="nav-item">
                            <a href="/index.html#section-contact" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>

                <!-- CV à droite (desktop) -->
                <a href="/assets/doc/CV_GwladysLaisne.pdf" download class="btn btn-primary btn-sm ms-auto">
                    CV <i class="fa-solid fa-download ms-2"></i>
                </a>

                <!-- Burger (mobile) -->
                <button class="navbar-toggler border-0 ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </div>
        </nav>
    </header>